<html>
  <head>
    <title></title>
  </head>
  <body>
    <h1>My Personal Diary</h1>
    <div class="login-page">
      <div class="form">
        <form class="login-form">
            <input type="text" name="username" placeholder="Username"/>
            <input type="password" name="password" placeholder="Password"/>
            <input type="text" name="first_name" placeholder="First name"/>
            <input type="text" name="second_name" placeholder="Second name"/>
          <button>register</button>
          <a id="link-back" href="/">Already have an account? Login</a>
        </form>
      </div>
    </div>
  </body>
</html>